<h1>Portfolio Items</h1>


<%= link_to "Create New Item", new_portofolio_url %>


<% @portfolio_item.each do |portfolio_item| %>
    <p><%= portfolio_item.title %><p>
    <p><%= portfolio_item.body %>
    <%= image_tag portfolio_item.thumb_image if !portfolio_item.thumb_image.nil?  %>
    <%= link_to "Edit", edit_portofolio_path(portfolio_item.id) %>
<% end %>
